#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Git - Book
Exec=/opt/google/chrome/chrome --profile-directory=Default --app-id=gochpjkimkobfnbbdapmbaicapihmmmf
Icon=chrome-gochpjkimkobfnbbdapmbaicapihmmmf-Default
StartupWMClass=crx_gochpjkimkobfnbbdapmbaicapihmmmf
